body { 
  background-image:url("/nba.jpg");
  font: 10px sans-serif;
  color: #FFFFFF
}
.chartArea{
      position: relative;}

.dropdownArea {
      position: absolute;
      width: 250px;
      top:20px;
      left:10px;}	

#container {
  width: 1500!important;
  height: 400!important;
  position: absolute!important;
  background: rgba(76, 175, 80, 0.1)!important;
}

#title {
  font: 14px sans-serif;
  position: absolute;
  top: -40px;
  left: 450px;
}	
#FilterableTable {
  width: 1500;
  height: 400;
  top:10px;  
  position: absolute;
  font: 12px sans-serif;
  overflow-y: scroll;
}
.SearchBar { 
  display: inline; 
  position: relative;
  left: 1%;
}
.SearchBar input {
  position: relative;
  left: 2%;
}
table { 
  position: absolute;
  top: 30px;
  left: 5px;
  border-collapse: collapse;
  margin-bottom: 20px;
  font: 10px sans-serif;
  overflow-y: auto;
}
table a:link, a:visited { text-decoration: none; }
table a:hover, a:active { text-decoration: underline; }
table, th, td { border: 1px solid black; }
td, th {
  padding: 5px;
  text-align: center;
  height: 20px;
  font: 12px sans-serif;
}
th {  
  background-color: #17408B;
  color: #d9f0a3;
  font: 13px sans-serif;
  font-weight: bold;
}
td { background-color: #17408B; }
tr:hover td { background-color: #C9082A; }
.bar {
  fill: #C9082A;
}
text {
  font-size: 14px;
  fill: #fff;
  font-weight: bold;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

